<div class="col-md-2 col-lg-offset-1 hidden-xs hidden-sm text-right" id="sidebar"/>
<!-- No sidebar on small screens -->
<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
<br>
<!-- <a class="sidebar-nav-item" target="_blank" href="https://www.roboticsproceedings.org/">RSS Proceedings</a>
<br> -->
<a class="sidebar-nav-item" href="{{ site.url }}/2026/">RSS 2026</a>
<br>
<br>

{% assign sorted = site.collections | sort: 'priority' %}

{% for coll in sorted %}
{% if coll.label == "information" %}
{% assign nav_docs = coll.docs | where_exp: "node", "node.invisible != true" | where_exp: "node", "node.layout == 'page'" | where_exp: "node", "node.title == 'Call for Papers'" %}
{% if nav_docs.size > 0 %}
<b>{{ coll.label }}</b>
<br>
{% for node in nav_docs %}
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
<br>
{% endfor %}
<br>
{% endif %}
{% endif %}
{% endfor %}
<b>follow us</b>
<br>
<a target="_blank" href="https://twitter.com/RoboticsSciSys"><i class="fab fa-twitter"></i> Twitter </a>
<br>
<a target="_blank" href="https://www.facebook.com/RoboticsSciSys"><i class="fab fa-facebook"></i>  Facebook  </a>
<br>
<a target="_blank" href="https://www.linkedin.com/in/rss-conference-99b28823b/"><i class="fab fa-linkedin"></i>  LinkedIn  </a>
<br>
<a target="_blank" href="https://www.instagram.com/rssconference"><i class="fab fa-instagram"></i>  Instagram  </a>
<br>
<a target="_blank" href="https://bsky.app/profile/roboticsscisys.bsky.social"><i class="fab fa-bluesky"></i> Bluesky</a>
<br>

</div>
