<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}{{ site.logo }}" width="100%" alt="Robotics: Science and Systems 2027 Conference Logo">
                        </a>
            </div>
        </div>
    </div>
</div>

<style>
  /* Keep the top menu on a single row (prevent wrapping when zoomed) */
  @media (min-width: 768px) {
    .navbar-default .navbar-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-default .navbar-nav > li > a {
      padding-left: 12px;
      padding-right: 12px;
      white-space: nowrap;
    }
  }
</style>

<nav class="navbar navbar-default" data-spy="affix" data-offset-top="215">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-11 col-xs-12 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" style="margin-top: 10px; text-align: center;"
                        href="{{ site.baseurl }}/">RSS 2027</a>
                    <a class="navbar-brand hidden-xs"
                        href="{{ site.baseurl }}/">RSS 2027</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">home<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.roboticsproceedings.org/">RSS Proceedings</a></li>
                                <li><a href="{{ site.url }}/2026/">RSS 2026</a></li>
                            </ul>
                        </li>
                        {% for coll in site.collections %}
                        {% if coll.label == "information" %}
                        {% assign nav_docs = coll.docs | where_exp: "node", "node.invisible != true" | where_exp: "node", "node.layout == 'page'" | where_exp: "node", "node.title == 'Call for Papers'" %}
                        {% if nav_docs.size > 0 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{coll.label}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for node in nav_docs %}
                                <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
